footer {
    background-color: #161616;
    color: #AAAAAA;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}